<% content_for :sidebar do %>
<div class="text_title">Zgubione haslo :(?</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Wyślij mi hasło" %></div>
<% end %>

<%= render "devise/shared/links" %>
<% end %>
