<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Strona zespołu projektowego</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Gilda+Display|Skranji|Amatic+SC&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <%= stylesheet_link_tag "jss.css" %>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
	<script>
  $(function() {
    $( "#dialog" ).dialog({ minWidth: 590, modal: true});
  });
  </script>
</head>
<body>
<!-- top -->
<div class='grey'>
<div class='top'>
	<!-- social -->
    <div class='social'>
    	<%= image_tag("fb.jpg", :alt => "My na Fejsie") %>
    	<%= image_tag("github.jpg", :alt => "Kod - Github") %>
    	<%= image_tag("tweet.jpg", :alt => "O nas na tweeterze") %>
    	<%= image_tag("yt.jpg", :alt => "Filmiki") %>
    </div>
    
    <!-- login -->
  <div class='user_nav'>
    	<% if user_signed_in? %>
  			Zalogowany jako <%= current_user.email %>. To nie Ty?
			<%= link_to "Wyloguj", destroy_user_session_path  , :method =>:delete %> 
			 <%= link_to "Sign out", signout_path, id: "sign_out" %>
		<% else %>
			<%= link_to "Zarejestruj", new_user_registration_path %> lub <%=link_to "Zaloguj", new_user_session_path %>
			<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
		<% end %>
   </div>
    
    
    <!-- search -->
  <div class='search'>
    	Szukaj: 
  </div>
</div>

<!-- navigation -->
<div class="title">
	<!-- real title -->
    <div class='site_name'>
    Strona szalonego zespołu projektowego
    </div>

	<!-- menu -->
    <div class='menu'>
    	<div class='user1_button'>
    	
<%= link_to "Wika", user_path(4)%></div>
     <div class='user2_button'>
     	<%= link_to "Krzysiek", user_path(1)%>
</div>
        <div class='user3_button'>
<%= link_to "Piotrek", user_path(2)%>
        </div>
        <div class='about_button'>about</div>
    </div>
</div>

<!-- top sub navi -->
<div class='top-sub-navi'>      
        <!-- what news -->
        <div class='new-articles'>
        	<div class="text_title">News</div>
            <%= yield :listaPostow %>
        </div>
    	<!-- shoutbox -->
		<div class="shoutbox">
        	<div class="text_title">ShoutBox</div>
        <br />
			<%= yield :listaShout %>
			</div>
		<% if user_signed_in? %>
		<div class='login'>
			<% if user_signed_in? %>
				<div class='text_title'>Panel admina</div>
    			
    			<%= link_to "Nowy post", new_post_path %>
    			<%= link_to "Nowy spam", new_shout_path %>
    		<% else %>
    			<%= yield :sidebar %>
    		<% end %>
    	</div>
    	<% end %>
    </div>

<!-- main ncontainer -->
<div class='main'>
	<!-- context -->
    <div class='context'>
    <%= yield %>
    </div>
</div>

<!-- bottom -->
<div>
</div>
</div>
</body>
</html>